/* ===== 全体 ===== */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f9;
    margin: 0;
}

/* ===== ロゴ ===== */
.logo {
    position: absolute;
    top: 30px;
    left: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    height: 40px;
}

.logo span {
    font-size: 20px;
    color: #666;
}

/* ===== コンテナ ===== */
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== フォームカード ===== */
form {
    background: #fff;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #eef2f7;
    box-sizing: border-box;
}

/* ===== ボタン ===== */
button {
    width: 100%;
    padding: 12px;
    background-color: #6cc3a0;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box; 
}

button:hover {
    background-color: #57b38e;
}

.form-group {
    width: 100%;
}

.submit-group {
    margin-top: 34px;
}

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #d9534f;
    color: white;
    padding: 14px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    font-size: 14px;
    z-index: 1000;

    opacity: 1;
    transition: opacity 0.5s ease;
}

/* 消えるとき */
.toast.hide {
    opacity: 0;
}

.error-area {
    min-height: 24px;  /* 1行分の高さを確保 */
    margin-top: 6px;
}

.error-message {
    color: red;
    font-size: 14px;
    line-height: 1.2;
}